@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Kharkiv, Ukraine<br />
    <abbr title="Phone">P:</abbr>
    +38 (095) 806 72 94
</address>

<address>
    <strong>Mail:</strong> <a href="mailto:aljona.barabash@mail.ru">aljona.barabash@mail.ru</a>
</address>