@using WebApiTestDotNet.Controllers
@using WebApiTestDotNet.Models
@model System.Collections.Generic.List<CategoryModel>


    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <table class="table table-striped">
                <thead>
                    <tr><th>Название категории</th><th>Кол-во книг</th></tr>
                </thead>
                <tbody>
                    @foreach(var c in Model)
                    {
                    <tr><td>@c.Name</td><td>@c.Book.Count</td></tr>
                    }
                    <tr><td>[Unknow]</td><td>@ViewBag.BookCount</td></tr>

                </tbody>
            </table>
        </div>
    </div>
